/* For small screens */
@media only screen and (max-width: 600px){
	.heading{
		display: flex;
	
	}
	.card {
		width: 80%;
		position: relative;
		height:250px;
		margin: 20px;
		padding: 5px;
		border-radius: 3px;
		border: solid black 1px;
		   box-shadow: 20px 20px 2px -2px rgba(0,0,0,4);
		   /* background-color: #cdd3e0 ; */
		   font-family: 'Luxurious Roman', cursive;
		   opacity: 1;
	   }
	   .card-title {
		margin-bottom: 10px;
		font-size: 3.25ex;
		font-family: 'Roboto Slab', serif;
		}
	   .card-description {
		margin: auto;
		font-size: 2.50ex;
	}
	
	.card-button{
		margin-top: 20px;
		background: linear-gradient(to bottom, #030303 5%, #0f0e0e 100%);
		font-size: 2ex;
		border-radius: 3px;
		box-shadow:inset 0px -3px 7px 0px #313030;
		cursor: pointer;
		position: absolute; bottom: 20px;
		color: white;
	}
	.card-button :hover{
		cursor: pointer;
		background-color: white;
		color: black;
	}
	
	section{
		margin-left: 20px;
	}
	#section-books-ancor{
		position: relative;
		padding-top: 30px;
	}

	#section-courses-ancor{
		position: relative;
		padding-top: 262px;
	}
	#section-blogs-ancor{
		position: relative;
		padding-top: 262px;
	}
	#section-podcasts-ancor{
		position: relative;
		padding-top: 262px;
	}
	#section-books{
		margin-top: 260px;
	}
	.container  {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		width:100%;
		margin: 20px auto 20px auto;
		color: 11151c;
		/* background-color: #7b88a0; */
		opacity: 0.95;	
	}
	
	h1{
		font-size:5ex ;
		margin-left: 0px;
		margin-top: 140px;
		max-width: 50%;
		font-family: 'Roboto Slab', serif;
		z-index: 100;
		position: fixed;
	}
	
	h2{
		font-size:5ex ;
		font-family: 'Roboto Slab', serif;
		border: none;
		/* box-shadow: 0px 4px 0px 0px rgba(0,0,0,4); */
		width: fit-content;
		padding-right: 2px;
	}
		span {
			color: white;
			text-shadow:
			2px 2px 0 #000,
			1px 1px 0 #000,
			6px -1px 0 #000,
			-1px -1px 0 #000;
		}
		.nav-container{
			display: block;
			flex-direction: row-reverse;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 80;
			border-radius: 3px;
			/* border: solid black 1px;
			box-shadow: 20px 20px 2px -2px rgba(0,0,0,4); */
			background-color: white;
			font-family: 'Luxurious Roman', cursive;
			width: 100%;
			height:240px;
			padding-top: 40px;
		}
		.resource-nav{
			display: flex;
			position: relative;
			font-family: 'Roboto Slab', serif;
			margin-right: 10px;
			clear: both;
			font-size: x-small;
		}
		nav{
			display: flex;
			float: right;
			font-family: 'Roboto Slab', serif;
		
		}

		nav ul{
			padding-inline-start: 10px;
			padding-right: 20px;


		}
	
		.nav-item {
			list-style: none;
			padding:5px 5px;
			border: solid black 1px;
			border-radius: 25px;
			margin: 2px;
			display: inline;
			justify-content: center;
			box-shadow: 5px 5px 2px -2px rgba(0,0,0,4);
			font-size: 2ex;
		}
		
		.resource-nav .nav-item {
			list-style: none;
			padding:3px 7px;
			border: solid black 1px;
			border-radius: 25px;
			margin: 5px;
			display: inline;
			justify-content: center;
			box-shadow: 5px 5px 2px -2px rgba(0,0,0,4);
			font-size: 3ex;
			background-color: black;
			color: white;

		}
		.resource-nav ul {
			color: white;
			border-radius: 25px;
			padding: 12px;
		}
		.resource-nav ul a{
			color: white;
		

		}
		.nav-item a {
			text-decoration: none;
			color: black;
		
		}
		.nav-item a:hover {
			cursor:pointer;
		
		}
		
		/* Nav items should be active on the corresponging page */
		
		.nav-item a:active {
			background-color: #000000;
			color: black;
		}
		
		.nav-item:hover {
			background-color: lightgray;
			cursor:pointer;
		}
		.nav-item:active {
			background-color: #000000;
			color: black;
		}
		
		/* Makes active page black and white */
		.nav-item:nth-child(2) a{
			color: white;
			background-color: black;
		} 
		.nav-item:nth-child(2) {
			color: white;
			background-color: black;
		} 
	
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 1200px) {
	h1{
		font-size:4ex ;
		margin-left: 0px;
		margin-top: 120px;
		max-width: 50%;
		font-family: 'Roboto Slab', serif;
		z-index: 100;
		position: fixed;
	}
} */

	/* For large screens */


@media (min-width: 600px){
	/* body {
		background: url(assets/cool-background.png)no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	} */

	.heading{
		display: flex;
		margin-bottom: 400px;
		max-height: 1000px
	}
	.nav-container{
		display: block;
		flex-direction: row-reverse;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 80;
		border-radius: 3px;
		/* border: solid black 1px;
		box-shadow: 20px 20px 2px -2px rgba(0,0,0,4); */
		background-color: white;
		font-family: 'Luxurious Roman', cursive;
		width: 100%;
		padding-top: 40px;
		padding-left: 0px;
	}
	section{
		margin-left: 100px;
		padding-top: -100px;
	}
	.section-heading{
		font-size: 3em;
		color: red;
	}

	#section-books-ancor{
		position: relative;
		top: -240px;

	}

	#section-courses-ancor{
		position: relative;
		padding-top: 200px;
	}
	#section-blogs-ancor{
		position: relative;
		padding-top: 200px;
	}
	#section-podcasts-ancor{
		position: relative;
		padding-top: 200px;
	}
	.container  {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		width:100%;
		margin: 20px auto 20px auto;
		color: 11151c;
		/* background-color: #7b88a0; */
		opacity: 0.95;	
	}
	h1{
		font-size:10ex ;
		margin-left: 100px;
		margin-right: 0px;
		margin-top: 20px;
		font-family: 'Roboto Slab', serif;
		max-width: 55%;
		position: fixed;
		z-index: 81;
	}
		span {
			
			color: white;
			text-shadow:
			2px 2px 0 #000,
			1px 1px 0 #000,
			10px -1px 0 #000,
			-1px -1px 0 #000;
		}
	
	
	#searchbox {
		display: flex;
		justify-content: center;
		height: fit-content;
	}
	.searchbar {
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 50px;
		padding-left: 10px;
		width: 400px;
		height: 4ex;
		border: solid gray;
		opacity: 0.80;
	}
	
	.card {
	 width: 200px;
	 position: relative;
	 height:200px;
	 margin: 20px;
	 padding: 5px;
	 border-radius: 3px;
	 border: solid black 1px;
		box-shadow: 20px 20px 2px -2px rgba(0,0,0,4);
		/* background-color: #cdd3e0 ; */
		font-family: 'Luxurious Roman', cursive;
		opacity: 1;
	}
	
	.card:hover {
		transform: translate(0, -10px);
		box-shadow: 32px 32px 2px -5px rgba(0,0,0,4);
		border: solid black 2px;
	
	
	
	}
	.card-title {
	margin-bottom: 10px;
	font-size: 3.25ex;
	font-family: 'Roboto Slab', serif;
	}
	
	.card-description {
		margin: auto;
	}
	
	.card-button{
		margin-top: 20px;
		background: linear-gradient(to bottom, #030303 5%, #0f0e0e 100%);
		font-size: 2ex;
		border-radius: 3px;
		box-shadow:inset 0px -3px 7px 0px #313030;
		cursor: pointer;
		position: absolute; bottom: 20px;
		color: white;
		
	}

	.resource-nav{
		display: flex;
		position: relative;
		font-family: 'Roboto Slab', serif;
		margin-right: 20px;
		clear: both;
		font-size: smaller;
	}

	
	nav{
		display: flex;
		float: right;
		margin-right: 50px;
		font-family: 'Roboto Slab', serif;
	
	}



	.nav-item {
		list-style: none;
		padding:5px 10px;
		border: solid black 1px;
		border-radius: 25px;
		margin: 5px;
		display: inline;
		justify-content: center;
		box-shadow: 5px 5px 2px -2px rgba(0,0,0,4);
	
	}
	.nav-item a {
		text-decoration: none;
		color: black;
	
	}
	.nav-item a:hover {
		cursor:pointer;
	
	}
	
	/* Nav items should be active on the corresponging page */
	
	.nav-item a:active {
		background-color: #000000;
		color: white;
	}
	
	.nav-item:hover {
		background-color: lightgray;
		cursor:pointer;
	}
	.nav-item:active {
		background-color: #000000;
		color: white;
	}
	
	/* Makes active page black and white */
	.nav-item:nth-child(2) a{
		color: white;
		background-color: black;
	} 
	.nav-item:nth-child(2) {
		color: white;
		background-color: black;
	} 
	
	
	
}
